* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.bg-image {
    background-image: url(./images/bdw.jpg);
    background-repeat: no-repeat;
    width: 1600px;
    height: 808px;
    left: 0px;
    top: 0px;
    background-size: cover;

}

.stylediv {
    align-items: right;
    padding: 216px 230px 364px 845px;
    color: rgb(45, 12, 71);
}

.title {
    font-weight: 700;
    font-size: 65px;
}

.sub-title {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}

/* button style */
.button {
    width: 160px;
    height: 64px;
    background-color: #0a2ffd;
    border-radius: 5px;
    color: #FFFFFF;
}

/* year sec style */
.info {
    display: flex;
    align-items: center;
    margin: 260px;
    border: 300px 300px;

}

.info-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding-bottom: 24px;
}

.info-dis {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    display: contents;
}

.gap {
    margin-bottom: 20px;
}

/* list style */
i {
    color: green;
}

li {
    margin-bottom: 8px;
}

.list {
    list-style: none;

}

/* My plan style */
.my-plan {
    text-align: center;
    margin: 200px;
}
.my-plan h2{
    margin-bottom: 16px;
}

.plan-info {
    display: flex;
    gap: 100px;

}

.plan h2 {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.plan p {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}
/*  watch image style */
.watch-image{
    background-image:linear-gradient(to right,rgb(255, 0,0,1),rgb(255,0,0,0)),url(/images/watch.png);
    background-repeat: no-repeat;
    width: 1140px;
    height: 300px;
    margin-right: 617px;
    margin-left: 230px;
    border-radius: 8px;
    margin-bottom: 100px;
   
}
.watch-info{
    font-weight: 700;
    font-size: 40px;
    margin-right: 617px;
    margin-left: 64px;
    color: #FFFFFF;
    padding-top: 59px;
}
.call-button{
    height: 64px;
    background-color: #3978ee;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    margin: 59px 617px 141px 64px;
}
/* footer style  */
.foot-style{
    text-align: left;
}
.footer{
    display: flex;
    text-align: center;
    height: 577px;
    gap: 200px;
background: #151414;
}
.future{
font-weight: 700;
font-size: 45px;
color: #F8F8F8;
margin-top: 130px;
margin-right: 230px;
margin-left: 200px;
}
.future-dis{
font-weight: 400;
font-size: 16px;
color: #FFFFFF;
margin-top: 16px;
margin-right: 230px;
margin-left: 200px;
}
.email,.phone {
    font-weight: 400;
font-size: 16px;
margin-top: 24px;
margin-right: 230px;
margin-left: 200px;
color: #FFFFFF;
}


.ficon{
    display: flex;
    align-items: center;
   gap:5%;
    margin-top: 32px;
margin-right: 230px;
margin-left: 200px;
    
}

.sub{
    font-weight: 600;
font-size: 25px;
color: #FFFFFF;
margin-bottom: 31px;
margin-top: 130px;
margin-right: 230px;
margin-left: 200px;
}
.about-channel input{
    margin-bottom: 16px;
    border:8px solid #FFFFFF;

}
/* button style */
.sub-button {
    height: 64px;
    background-color: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}
